/* The basics. Where it all starts... */
:root {
	--blue: #212dd8;
	--orange: #ff5a00;
	--yellow: #f7c511;
	--lightgrey: #404973;
	--black: #14182e;
}
html {
  scroll-behavior: smooth;
}
body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	color: white;
	background: var(--black);
	text-align: center;
}
section {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 200px;
	padding: 64px 2rem;
	z-index: 2;
}
section h1 {
 text-align: center;
}
footer {
	color: var(--lightgrey);
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px 20vw;
	z-index: 998;
	text-align: center;
}

/* Social media links */
.socmed {
	font-size: clamp(14px, 20px, 1vw);
	color: var(--lightgrey);
	display: flex;
	align-items: center;
}

/* Logo size */
.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

/* Colours!*/
.blue {
	background: var(--blue);
}
.orange {
	background: var(--orange);
	margin-top: -1px;
	margin-bottom: -1px;
}
.yellow {
	background: var(--yellow);
}
.lightgrey {
	background: var(--lightgrey);
}
.black {
	background: var(--black);
}

/* Skip to content. Shoutouts to this video: https://youtu.be/jDDaOFr9nqQ */
.skipnav {
	position: fixed;
	left: 1rem;
	top: 1rem;
	padding: 0.45rem 0.6rem;
	border-radius: 0.25rem;
	transform: translateY(-300%);
	background: white;
	font-weight: bold;
	color: var(--black);
	transition: transform 125ms linear;
	z-index: 9999;
}
.skipnav:focus {
	transform: translateY(0);
}
a.skipnav:link, a.skipnav:visited {
	color: var(--black);
}

/* Navigation bar! Shoutouts to this video: https://youtu.be/biOMz4puGt8 */
.navbar {
	top: -32px;
	width: 100vw;
	height: 50px;
	position: fixed;
	background-image: linear-gradient(to top, rgba(0,0,0,0.75), rgba(0,0,0,0.85));
	z-index: 1000;
	transition: 200ms ease;
}
.navbar-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.nav-item {
	width: 75%;
}
.nav-link {
	display: flex;
	align-items: center;
	height: 34px;
	color: white;
	text-decoration: none;
	filter: opacity(0.95);
	transition: 200ms;
}
.navbar:hover, .navbar:has(.nav-link:focus) {
	top: 0;
}
.nav-link:hover, .nav-link:focus {
	filter: opacity(1);
	background: rgba(64,73,115,0.50);
	color: var(--orange);
}
.link-text {
	margin: 0 auto;
	font-size: clamp(0.5rem, 0.9rem, 1rem);
}
.downarrow {
	display: flex;
	justify-content: center;
	filter: opacity(0.75);
}

/* Navbar responsiveness */
@media only screen and (max-width: 650px) {
	.navbar {
		top: 0;
		height: 32px;
	}

	.downarrow {
		display: none;
	}
}

@media only screen and (max-width: 375px) {
	.link-text i {
		display: none;
	}
}

/* Ooh, waves! Shoutouts to this video: https://youtu.be/lPJVi797Uy0 */
.spacer {
		aspect-ratio: 960/240;
		width: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	z-index: 1;
}
.top {
	background-image: url('./wave_top.svg');
}
.bottom {
		background-image: url('./wave_bottom.svg');
}

/* Outline for text in orange BG, ooh la la */
.orange p, .orange h1 {
	text-shadow: var(--black) 0.05rem 0.05rem, var(--black) -0.05rem 0.05rem, var(--black) 0.05rem -0.05rem, var(--black) -0.05rem -0.05rem,
	var(--black) 0.08rem 0.08rem, var(--black) -0.08rem 0.08rem, var(--black) 0.08rem -0.08rem, var(--black) -0.08rem -0.08rem;
}

/* Link colours! */
a:link, a:visited {
	color: var(--lightgrey);
	text-decoration: none;
}
a.brighter:link, a.brighter:visited {
	color: var(--yellow);
	text-decoration: none;
}
a.darker:link, a.darker:visited {
	color: #92e8c0;
	font-weight: bold;
	text-decoration: none;
}
a.nav-link:link, a.nav-link:visited {
	color: white;
	text-decoration: none;
	text-align: center;
}
a:hover {
	color: var(--orange);
	text-decoration: underline;
}
a:active {
	color: var(--orange);
	text-decoration: none;
}
a.brighter:hover {
	color: var(--orange);
	text-decoration: underline;
}
a.brighter:active {
	color: var(--orange);
	text-decoration: none;
}
a.darker:hover {
	color: var(--yellow);
	text-decoration: underline;
}
a.darker:active {
	color: var(--yellow);
	text-decoration: none;
}
a.nav-link:hover, a.contrast:active {
	color: var(--orange);
	text-decoration: none;
}

/* Button */
a.coolbutton:link, a.coolbutton:visited {
	color: white;
	background-color: var(--black);
	padding: 0.32em 1em;
  border-radius: 0.50em;
	text-decoration: none;
	transition: 0.15s ease;
}
a.coolbutton:hover, a.coolbutton:active {
	background-color: var(--lightgrey);
	font-size: 0.95rem;
	box-shadow:
1px 1px #c94b0a,
2px 2px #c94b0a,
3px 3px #c94b0a,
4px 4px #c94b0a;
}
}

/* Image grid! */
.imag {
	max-width: 100%;
	height: auto;
	object-fit: cover;
}
.imag img {
	max-width: 100%;
	height: auto;
}
@media (min-width:681px) {
	.imgHolder {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}
}
@media (max-width:680px) {
	.imgHolder {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(4, 1fr);
	}
}

/* Image animations and size */
.imag img {
	transition: 0.15s ease;
  border-radius: 0.75em;
}
.imag img:hover{
	-webkit-transform: scale(0.95);
	-ms-transform: scale(0.95);
	transform: scale(0.95);
	transition: 0.25s ease;
	box-shadow:
1px 1px #c94b0a,
2px 2px #c94b0a,
3px 3px #c94b0a,
4px 4px #c94b0a;
}

/* The fella! */
.fella {
	position: absolute;
	width: 218px;
	height: 173px;
	bottom: 0px;
	right: 5%;
	background: url("../images/fellaIdle.png");
	user-select: none;
	z-index: 999;
}
.fella:hover {
	background: url("../images/fellaWave.png");
	cursor: default;
}
@media (max-width:767px) {
	.fella {
	display: none;
	bottom: -200px;
	}
}

/* Epic gradient. Shoutouts to this CodePen: https://codepen.io/shshaw/pen/YpERQQ */
.linear-wipe {
	--bg-size: 350%;
	background: linear-gradient(
								90deg,
								var(--orange),
								var(--blue),
								var(--orange)
							) 0 0 / var(--bg-size) 100%;
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	animation: move-bg 24s infinite linear;
}
@keyframes move-bg {
	to {
		background-position: var(--bg-size) 0;
	}
}

/* A custom scrollbar?! What will the CSS people think of next?!?! */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-track {
	background: var(--lightgrey);
}
::-webkit-scrollbar-thumb {
	background: #686f99;
}
::-webkit-scrollbar-thumb:hover {
	background: var(--orange);
}
/* Firefox, too */
@supports (scrollbar-color: aquamarine fuchsia) {
	* {
		scrollbar-color: #686f99 var(--lightgrey);
		scrollbar-width: thin;
	}
}

/* Nutshell stuff for pages that have it */
.nutshell-bubble-from {
	display: none;
}
.nutshell-bubble-overflow-embed-button {
	display: none;
	pointer-events: none;
}
.nutshell-heading-embed {
	display: none;
	pointer-events: none;
}
a.nutshell-expandable {
	color: white;
	text-decoration: none;
}
