/* The basics. Where it all starts... */
body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	color: white;
	background: #14182e;
}
section {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 200px;
	padding: 64px 2rem;
	z-index: 2;
}
section h1 {
 text-align: center;
}
footer {
	color: #404973;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px 20vw;
	z-index: 998;
	text-align: center;
}

/* Social media links */
.socmed {
	font-size: clamp(14px, 20px, 1vw);
	color: #404973;
	display: flex;
	align-items: center;
}

/* Logo size */
.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

/* Colours! I only use, like, one of these. */
.blue {
	background: #212dd8;
}
.orange {
	background: #ff5a00;
	margin-top: -1px;
	margin-bottom: -1px;
}
.yellow {
	background: #f7c511;
}
.lightgrey {
	background: #404973;
}
.black {
	background: #14182e;
}

/* Navigation bar! Shoutouts to this video: https://youtu.be/biOMz4puGt8 */
.navbar {
	top: -32px;
	width: 100vw;
	height: 50px;
	position: fixed;
	background-image: linear-gradient(to top, rgba(0,0,0,0.75), rgba(0,0,0,0.85));
	z-index: 999999;
	transition: 200ms ease;
}
.navbar-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.nav-item {
	width: 75%;
}
.nav-link {
	display: flex;
	align-items: center;
	height: 34px;
	color: white;
	text-decoration: none;
	filter: opacity(0.95);
	transition: 200ms;
}
.navbar:hover {
	top: 0;
}
.nav-link:hover {
	filter: opacity(1);
	background: rgba(64,73,115,0.50);
	color: #ff5a00;
}
.link-text {
	margin: 0 auto;
	font-size: clamp(0.5rem, 0.9rem, 1rem);
}
.downarrow {
	display: flex;
	justify-content: center;
	filter: opacity(0.75);
}

/* Navbar responsiveness */
@media only screen and (max-width: 650px) {
	.navbar {
		top: 0;
		height: 32px;
	}

	.downarrow {
		display: none;
	}
}

/* Ooh, waves! Shoutouts to this video: https://youtu.be/lPJVi797Uy0 */
.spacer {
		aspect-ratio: 960/240;
		width: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	z-index: 1;
}
.top {
	background-image: url('./wave_top.svg');
}
.bottom {
		background-image: url('./wave_bottom.svg');
}

/* Link colours! */
a:link, a:visited {
	color: #404973;
	text-decoration: none;
}
a.brighter:link, a.brighter:visited {
	color: #ffc90e;
	text-decoration: none;
}
a.contrast:link, a.contrast:visited {
	color: white;
	text-decoration: none;
}
a:hover {
	color: #ff5a00;
	text-decoration: underline;
}
a:active {
	color: #ff5a00;
	text-decoration: none;
}
a.brighter:hover {
	color: #ff5a00;
	text-decoration: underline;
}
a.brighter:active {
	color: #ff5a00;
	text-decoration: none;
}
a.contrast:hover {
	color: #5537a5;
	text-decoration: underline;
}
a.contrast:active {
	color: #5537a5;
	text-decoration: none;
}

/* Link colours (navbar edition)! */
a.nav-link:link, a.nav-link:visited {
	color: white;
	text-decoration: none;
	text-align: center;
}
a.nav-link:hover, a.contrast:active {
	color: #ff5a00;
	text-decoration: none;
}

/* Image grid! i dont want to talk about how long it took to get it to be all responsive n stuff omg */
.imgHolder {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.imag {
	text-align: center;
	justify-content: center;
	padding: 8px 8px;
}


/* Image animations and size */
.imag img {
	vertical-align: middle;
	width: 100%;
	transition: 0.15s ease;
	border-radius: 10px;
}
.imag img:hover{
	-webkit-transform: scale(0.95);
	-ms-transform: scale(0.95);
	transform: scale(0.95);
	transition: 0.25s ease;
	box-shadow:
1px 1px #c94b0a,
2px 2px #c94b0a,
3px 3px #c94b0a,
4px 4px #c94b0a;
}

/* The fella! */
.fella {
	position: absolute;
	width: 218px;
	height: 173px;
	bottom: 0px;
	right: 5%;
	background: url("../images/fellaIdle.png");
	user-select: none;
	z-index: 999;
}
.fella:hover {
	background: url("../images/fellaWave.png");
}
@media (max-width:767px) {
	.fella {
	display: none;
	cursor: default;
	bottom: -200px;
	}
}

/* Epic gradient. Shoutouts to this CodePen: https://codepen.io/shshaw/pen/YpERQQ */
.linear-wipe {
	--bg-size: 350%;
	--color-one: #ff5a00;
	--color-two: #212dd8;
	background: linear-gradient(
								90deg,
								var(--color-one),
								var(--color-two),
								var(--color-one)
							) 0 0 / var(--bg-size) 100%;
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	animation: move-bg 24s infinite linear;
}
@keyframes move-bg {
	to {
		background-position: var(--bg-size) 0;
	}
}

/* A custom scrollbar?! What will the CSS people think of next?!?! */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-track {
	background: #404973;
}
::-webkit-scrollbar-thumb {
	background: #686f99;
}
::-webkit-scrollbar-thumb:hover {
	background: #ff5a00;
}
